body{
    overflow-y: scroll;
}

th{
    text-align: center;
}
.btn-mine{
    color: #ffffff;
    background-color: #2aabd2;
    border-color: #2aabd2;
    border-radius: 0;
    margin-right: 4px;
}
#change_name:hover,
#change_password:hover,
#login_out:hover{
    color: #28a4c9;
    background-color:#28a4c9;
    border-color: #28a4c9;
}

.navbar-mine{
    color: #ffffff;
    background-color: #2aabd2;
    border-color: #ccc;
    border-radius: 0;
}
.navbar-default
.navbar-brand {
color: #000000;
    font-size: 34px;
}
.col-md-2{
    width: 12%;
}
.col-md-10{
    width: 88%;
}

.auto-print-lg{
    font-size: 22px;
}
.auto-print-sm{
    font-size: 10px;
}
@font-face {
  font-family: 'Mine';       /* 字体名称,可自己定义 */
  src: url('/dayin/weiruanyahei.ttf');
}

.count-font{
    margin-top: 25%;
    font-size: 16px;
}

.navbar-alin_admin{
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown:hover>ul{
    display: block;
}

.merchant-table>tr>th,
.merchant-table>tr>td{
    text-align: left;
}

.ul-nav-left{
    position: fixed;
    left: -1px;
    display: block;
    z-index: 1000;
}

/***********************************button04***********************************/
#navigationMenu li{
	list-style:none;
	height:50px;
	padding:2px;
	width:50px;
    margin-bottom: 10px;
}

#navigationMenu span{
    /* Container properties */
    display: none;
	width:30px;
	left:48px;
    top: 0;
    height: 45px;
	padding-top:10px;
	position:absolute;
    z-index: -1;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	/*line-height:39px;*/

	/* CSS3 Transition: */
	-webkit-transition: 0.2s;
	/*-o-transition: 0.25s;*/

	/* Future proofing (these do not work yet): */
	-moz-transition: 0.2s;
	transition: 0.2s;
}

#navigationMenu a{
	background: #2aabd2;
    color: #ffffff;
	height:45px;
	width:50px;
    text-align: center;
    padding-top: 8px;
    font-size: 18px;
	display:block;
	position:relative;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: width 0.2s;
    -moz-transition: width 0.2s;	/* Firefox 4 */
    -webkit-transition: width 0.2s;	/* Safari 和 Chrome */
    -o-transition: width 0.2s;	/* Opera */
}

/* General hover styles */

#navigationMenu a:hover{ width:120px; overflow:visible; }
#navigationMenu a:hover{
	text-decoration:none;
}
#navigationMenu a:hover span{ left: 118px; }

.nav-a-active{
    width: 70px;
}

/***********************end button04***************************/

#nav-top>li>a:hover,
#nav-top>li>a:active,
#nav-top>li>a:focus,
#nav-top>li>a.active{
    color: #ffffff;
    background-color:#6699cc;
    border-color: #6699cc;
}

.nav-head-active{
    color: #ffffff;
    background-color:#6699cc;
    border-color: #6699cc;
}
.nav-list-active{
    color: #ffffff;
    background-color:#6699cc;
    border-color: #6699cc;
}

