th{
    text-align: center;
}
.btn-mine{
    color: #ffffff;
    background-color: #2aabd2;
    border-color: #2aabd2;
    border-radius: 0;
}
#change_name:hover,
#change_password:hover,
#login_out:hover{
    color: #28a4c9;
    background-color:#28a4c9;
    border-color: #28a4c9;
}

.btn-mine:hover,
.btn-mine:focus,
.btn-mine:active,
.btn-mine.active {
  color: #245269;
  background-color:#245269;
  border-color: #245269;
}
.navbar-mine{
    color: #ffffff;
    background-color: #2aabd2;
    border-color: #ccc;
    border-radius: 0;
}
.navbar-default
.navbar-brand {
color: #000000;
    font-size: 34px;
}
.col-md-2{
    width: 12%;
}
.col-md-10{
    width: 88%;
}

.auto-print-lg{
    font-size: 22px;
}
.auto-print-sm{
    font-size: 10px;
}
@font-face {
  font-family: 'Mine';       /* 字体名称,可自己定义 */
  src: url('/dayin/weiruanyahei.ttf');
}

.count-font{
    margin-top: 25%;
    font-size: 16px;
}

.navbar-alin_admin{
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown:hover>ul{
    display: block;
}

.merchant-table>tr>th,
.merchant-table>tr>td{
    text-align: left;
}

