<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Alinone</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/order_operate.js"></script>
    <script language="javascript" src="/js/LodopFuncs.js"></script>
</head>
<body  style="font-family: mine;">
<nav class="navbar navbar-mine" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="padding-left: 46%;">
                <a class="navbar-brand" style="font-size: 34px;color: #ffffff;">Alinone</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><p id='merchant_user_name'style="margin: 17px;color: #c9e2b3"></p></li>
{#                    <li><a role="button" class="btn btn-primary btn-mine" href="fuwei" style="color: #ffffff">数据复位(测试用)</a></li>#}
                    <li><a role="button"  id="change_name" class="btn btn-primary btn-mine" href="change_name" style="font-size:15px;color: #ffffff">修改店名</a></li>
                    <li><a role="button"  id="change_password" class="btn btn-primary btn-mine" href="change_password" style="font-size:15px;color: #ffffff">修改密码</a></li>
                    <li><a role="button" id="login_out" class="btn btn-primary btn-mine" href="login_out" style="font-size:15px;color: #ffffff;">登出</a></li>
                </ul>
            </div>
            <script>
                if(localStorage['user_name']){
                    $('#merchant_user_name').text("欢迎！" + localStorage['user_name']);
                }
            </script>

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div><!-- /.container-fluid -->
</nav>
<div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center;margin-top:-20px;line-height: 0.1;">
  <button type="button" class="close" data-dismiss="alert" style="margin-top: -7px;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>公告!</strong>这是一个公告！！！这是一个公告！！！
</div>
<div class="col-md-2 col-lg-2" style="padding-left: 0;padding-top:5%;position: fixed;">
   <div class="btn-group-vertical" style="width: 100%;">
      <a role="button" class="btn btn-primary btn-lg" href="operate_new">未处理订单</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_get">已接收订单</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_paisong">派送的订单</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_delete">取消的订单</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_pingtai">平台管理</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_express_person">物流人员管理</a>
      <a role="button" class="btn btn-primary btn-lg" href="printer_setting">打印机设置</a>
   </div>
</div>

<div class="col-md-10 col-lg-10" style="margin-left: 12%;padding-right: 1%;padding-top: 1%;">
{% block define %}
{% endblock define %}
</div>
<object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
       <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
</object>
{% if user_name %}
    <script>
    $(document).ready(function() {
        localStorage['user_name'] = '{{ user_name }}';
        $('#merchant_user_name').text("欢迎！" + localStorage['user_name']);
    })
    </script>
{% elif new_user_name %}
    <script>
    $(document).ready(function() {
        localStorage['user_name'] = '{{ new_name }}';
        $('#merchant_user_name').text("欢迎！" + localStorage['user_name']);
    })
    </script>
{% endif %}
</body>
</html>