<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="col-md-2">
   <div class="btn-group-vertical" style="width: 100%;">
      <a role="button" class="btn btn-primary btn-lg" href="operate_new">未处理订单</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_get">已接收订单</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_paisong">派送的订单</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_delete">取消的订单</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_pingtai">平台管理</a>
      <a role="button" class="btn btn-primary btn-lg" href="operate_express_person">物流人员管理</a>
   </div>
</div>
</body>
</html>