{% extends 'base.html' %}
{% block define %}
<div class="panel panel-default" style="text-align: center">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">密码修改</p>
    </div>
    {% if fault1 %}
    <div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center;margin-top:-20px;line-height: 0.1;">
       <button type="button" class="close" data-dismiss="alert" style="margin-top: -7px;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       <strong>旧密码错误!</strong>
    </div>
    {% endif %}
    {% if fault2 %}
    <div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center;margin-top:-20px;line-height: 0.1;">
       <button type="button" class="close" data-dismiss="alert" style="margin-top: -7px;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       <strong>两次密码输入不一致!</strong>
    </div>
    {% endif %}
    {% if fault3 %}
    <div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center;margin-top:-20px;line-height: 0.1;">
       <button type="button" class="close" data-dismiss="alert" style="margin-top: -7px;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       <strong>手机号不正确!</strong>
    </div>
    {% endif %}
    {% if fault4 %}
    <div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center;margin-top:-20px;line-height: 0.1;">
       <button type="button" class="close" data-dismiss="alert" style="margin-top: -7px;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       <strong>旧密码不能和新密码输入一致!</strong>
    </div>
    {% endif %}
<div class="panel-body">
  <div class="container" style="width: 700px;">
    <div class="jumbotron">
        {% if success %}
            <h3 style="text-align: center;">密码修改成功</h3>
            <a role="button" href="operate_new" class="btn btn-primary"style="font-size: 18px; margin-top: 30px;margin-bottom: -5px; margin-left: 30px;">返回</a>
        {% else %}
        <form action ="change_password" method="post">
            <div class="input-group" style="margin-top:40px;margin-left:120px;width: 68%;">
                <span class="input-group-addon" style=" font-size:17px;width: 30%;">手机号</span>
                 <input type="text" class="form-control" name="phone" style="width: 70%">
            </div>
            <div class="input-group" style="margin-left:120px;width: 68%;">
                <span class="input-group-addon" style=" font-size:17px;width: 30%;">旧密码</span>
                <input type="password" class="form-control" name="old_password" style="width: 70%">
            </div>
            <div class="input-group" style="margin-left:120px;width: 68%;">
                <span class="input-group-addon" style="font-size:17px;width: 30%;">新密码</span>
                <input type="password" class="form-control" name="new_password" style="width: 70%">
            </div>
            <div class="input-group" style="margin-left:120px;width: 68%;">
                <span class="input-group-addon" style="font-size:17px;width: 30%;">确认新密码</span>
                <input type="password" class="form-control" name="new_password_again" style="width: 70%">
            </div>

            <input class="btn btn-primary" style="font-size: 18px; margin-top: 30px;margin-bottom: -5px;" role="button" type="submit" value="确认">
            <a role="button" href="operate_new" class="btn btn-primary"style="font-size: 18px; margin-top: 30px;margin-bottom: -5px; margin-left: 30px;">返回</a>
        </form>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}