{% extends 'other_base.html' %}
{% block define %}
    <div class="text-center">
        <h4>消息反馈</h4>
        <form action="feed_back" method="post">
            {% csrf_token %}
            <textarea name="content" style="width: 50%;height: 200px;" onkeyup="enable_submit(this.value)"></textarea>
            <button class="btn btn-success btn-lg disabled" id="submit" type="submit" style="width: 50%">提交</button>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $('#feed_back').addClass('nav-head-active');
            {% if success %}
             alert("感谢您的反馈，我们将对您的建议及时处理!");
            {% endif %}
        });
        function enable_submit(value){
            if (value != ''){
                $('#submit').removeClass('disabled');
            }
            else{
                $('#submit').addClass('disabled');
            }
        }
    </script>
{% endblock %}