<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/operate.js"></script>
</head>
<body style="text-align: center;font-family: Microsoft Yahei">
<nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="padding-left: 46%">
                <a class="navbar-brand"  style="font-size: 34px;">Alinone</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login_in">登录</a></li>
                    <li><a href="register">注册</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<div class="container" style="width: 700px;text-align: center;margin-top: 10%; ">
    <div class="jumbotron">
        <h2>忘记密码</h2>
        <form action = "forget_password" method="post">
            {% csrf_token %}
        <div class="input-group" style="margin-top:40px;margin-left:120px;width: 50%;">
            <span class="input-group-addon" style=" font-size:17px;width: 30%;">手机号</span>
            <input type="text" class="form-control" name="phone" id="phone">
        </div>
        <div class="input-group" style="margin-left:120px;width: 50%;">
            <span class="input-group-addon" style="font-size:17px;width: 30%;">新密码</span>
            <input type="text" class="form-control" name="password" id="password">
        </div>
        <div class="input-group" style="margin-left:120px;width: 85%;">
            <span class="input-group-addon" style="font-size:17px;width: 17.7%;">验证码</span>
            <input type="text" class="form-control" name="verify" style="width: 128%;" id="verify">
            <span class="input-group-btn" style="margin-left: 20px;width: 50%">
                <input id="yanzheng" class="btn btn-default" type="button" value="获取验证码">
            </span>
            <script>
                $(document).ready(function() {
                    var count, countdown;
                    if (localStorage['time_count']) {
                        count = localStorage['time_count'];
                        $("#yanzheng").attr("disabled", true);
                        countdown = setInterval(CountDown, 1000);
                    }
                    $('#yanzheng').click(function () {
                            if($('#phone').val().length==11){
                               $("#yanzheng").attr("disabled", true);
                               count = 30;
                               var message = {'phone': $('#phone').val(),
                                              'csrfmiddlewaretoken': getCookie('csrftoken')};
                               $.ajax({
                                   url:'forget_password_verify', //后台处理程序
                                   type:'post',         //数据发送方式
                                   dataType:'json',     //接受数据格式
                                   data:message,         //要传递的数据
                                   success:function(data){
                                       if(data=='OK'){
                                          countdown = setInterval(CountDown, 1000);
                                       }
                                       else if(data=='auth'){
                                           $("#yanzheng").val("获取验证码").removeAttr("disabled");
                                           alert('待审核')
                                       }
                                       else{
                                           $("#yanzheng").val("获取验证码").removeAttr("disabled");
                                           alert('手机未注册')
                                       }
                                   }
                               });

                            }
                            else{
                                alert("请输入有效的电话号码！")
                            }

                    });
                        function CountDown() {
                            localStorage['time_count'] = count;
                            $("#yanzheng").attr("disabled", true);
                            $("#yanzheng").val("请等待 " + count + "秒");
                            if (count <= 0) {
                                $("#yanzheng").val("获取验证码").removeAttr("disabled");
                                clearInterval(countdown);
                                localStorage.removeItem("time_count");
                            }
                            count--;
                        }
                })
            </script>
        </div>
        <input role="button" class="btn btn-primary" type="submit" value="确定" style="font-size: 18px; margin-top: 30px;margin-bottom: -5px;">
        <a role="button" href="login_in" class="btn btn-primary" style="font-size: 18px; margin-top: 30px;margin-bottom: -5px; margin-left: 5%;">返回</a>
        </form>
        <script>
                function submit_mes(){
                    if(!$('#phone').val()||!$('#password').val()||!$('#verify').val()){
                        alert("请完善注册信息")
                    }
                    else if($('#password').val().length<6||$('#password').val().length>20){
                        alert("密码需为6～20位")
                    }
                    if($('#phone').val() && $('#password').val() && $('#verify').val() &&
                            $('#password').val().length>=6 && $('#password').val().length<=20){
                        $('#form_mes').submit();
                    }
                }
        </script>
    </div>
</div>
<script src="http://s11.cnzz.com/z_stat.php?id=1254496940&web_id=1254496940" language="JavaScript"></script>
</body>
</html>