<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" style="margin-left: 550px;font-size: 34px;">Alinone</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="login_in">登录</a></li>
                    <li><a href="register">注册</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<div class="container" style="width: 700px;margin-left: 290px;">
    <div class="jumbotron">
        <h2 style="padding-left: 175px;">登录Alinone</h2>
        <form action = "" method="post">
        <div class="input-group" style="margin-top:40px;margin-left:120px;width: 50%;">
            <span class="input-group-addon" style=" font-size:17px;width: 30%;">用户名</span>
            <input type="text" class="form-control" name="user_name">
        </div>
        <div class="input-group" style="margin-left:120px;width: 50%;">
            <span class="input-group-addon" style="font-size:17px;width: 30%;">密码</span>
            <input type="password" class="form-control" name="password">
        </div>

        <input class="btn btn-primary" style="font-size: 18px; margin-top: 30px;margin-bottom: -5px; margin-left: 337px;" role="button" type="submit" value="确认">
        </form>
    </div>
</div>
</body>
</html>