{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block define %}
    {% if not express_people %}
    <div class="panel panel-default">
        <div class="panel-body" style="text-align: center;">
        <h1>您还未绑定任何快递人员</h1>
        </div>
    </div>
    {% else %}
    <div class="panel panel-default text-center">
    <div class="panel-heading">
{#             <p class="text-center" style="font-size:21px;">派送员：{{ person.nick }}(电话：{{ person.phone }})</p>#}
    <div class="btn-group">
  <button type="button" class="btn btn-default btn-lg">派送员：{{ sender.nick }}(电话：{{ sender.phone }})</button>
  <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
      {% for person in express_people %}
    <li><a href="operate_paisong?id={{ person.id }}">派送员：{{ person.nick }}(电话：{{ person.phone }})</a></li>
      {% endfor %}
  </ul>
</div>
         </div>
    <div class="panel-body">
    {% if not orders %}
    <h3 style="text-align: center;">快递人员正在待命</h3>
    {% else %}
             <table class="table table-bordered text-center">
                 <tr>
                     <th>订单号</th>
                     <th>送达时间</th>
                     <th>联系方式</th>
                     <th>地址</th>
                     <th>订餐平台</th>
                     <th>平台流水号</th>
                     <th>付款</th>
                     <th>订单详情</th>
                     <th>操作</th>
                 </tr>
                 {% for item in orders %}
                 <tr>
                     <td>{{ item.order_id_alin }}</td>
                     <td>{{ item.send_time|date:"Y-m-d H:i:s" }}</td>
                     <td>{{ item.phone }}</td>
                     <td>{{ item.address }}</td>
                     <td>{{ item.platform }}</td>
                     <td>{{ item.plat_num }}</td>
                     {% if item.pay == True %}
                     <td>{{ item.real_price }}元(已付)</td>
                     {% else %}
                     <td>{{ item.real_price }}元(未付)</td>
                     {% endif %}
                     <td>
                         <div class="btn-group dropdown">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">查看<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu" role="menu" style="text-align: center;">
                                 {% for dish in item.dishs.all %}
                                     <li><p>{{ dish.dish_name }} X {{ dish.dish_count }}</p></li>
                                 {% endfor %}
                             <li><img src="/qrimg/{{ item.qr_path }}" alt="qrcode missing" style="width: 100px;height: 100px;"/></li>
                             </ul>
                      <td><a target=\"view_window\" href="http://www.chafanbao.com/search/result?searchtext={{ item.phone }}" class="btn btn-primary btn-sm">追踪</a></td>
                         </div>
                     </td>
                 </tr>
                 {% endfor %}
             </table>
        <nav>
       <ul class="pagination">
             {% if orders.has_previous %}
        <li><a href="?id={{ sender.id }}&page={{ orders.previous_page_number }}">&laquo;</a></li>
             {% endif %}
             {% for page in orders.paginator.page_range %}
               {% if page == orders.number %}
        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
               {% else %}
        <li><a href="?id={{ sender.id }}&page={{ page }}">{{ page }}</a></li>
               {% endif %}
            {% endfor %}
            {% if orders.has_next %}
        <li><a href="?id={{ sender.id }}&page={{ orders.next_page_number }}">&raquo;</a></li>
            {% endif %}
       </ul>
     </nav>
        {% endif %}
        </div>
    {% endif %}
    </div>
{% endblock define %}

</body>
</html>