{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block define %}
<div class="panel panel-default">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">目前绑定的平台</p>
         </div>
    <div class="panel-body">
    {% if items %}
             <table class="table table-bordered text-center">
                 <tr>
                     <th>名称</th>
                     <th>账号</th>
                     <th>运行状态</th>
                     <th></th>
                 </tr>
                 {% for item in items %}
                 <tr>
                 {% if item.name == '1' %}
                     <td>淘点点</td>
                 {% elif item.name == '3' %}
                     <td>美团</td>
                 {% elif item.name == '2' %}
                     <td>饿了么</td>
                 {% endif %}
                     <td>{{ item.account }}</td>
                     <td>
                         {% if item.status == True %}
                             正常
                         {% else %}
                             {{ item.message }}
                         {% endif %}
                     </td>
                     <td>
                         <a role="button" href="platform_delete{{ item.name }}" class="btn btn-primary btn-sm">删除</a>
                     </td>
                 </tr>
                 {% endfor %}

             </table>
    {% else  %}
        <h3 style="text-align: center;">您目前还未绑定平台</h3>
    {% endif %}
        <a role="button" href="add_platform_page" class="btn btn-primary btn-lg" style="margin-left: 91%">添加</a>
        </div>
</div>

{% endblock define %}
</body>
</html>