{% extends 'base.html' %}
    {% block define %}
    <div class="panel panel-default">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">未处理订单</p>
         </div>
    <div class="panel-body">
       {% if not items  %}
        <h3 style="text-align: center;">您未收到任何订单</h3>
       {% else %}
             <table class="table table-bordered text-center">
                 <tr>
                     <th>订单号</th>
                     <th>下单时间</th>
                     <th>联系方式</th>
                     <th>地址</th>
                     <th>订餐平台</th>
                     <th>付款</th>
                     <th>菜单</th>
                     <th>
                         <a href="jieshouall" id="all_print" role="button" class="btn btn-primary btn-sm">一键接收</a>
{#                         <iframe id="all" name="all" src="print_all" frameborder='no' border='0' width="0" height="0"></iframe>#}
                         <a onclick="jujueall()" role="button" class="btn btn-primary btn-sm" style="background-color: #737373">一键拒绝</a>
                     </th>
                 </tr>
                 {%for item in items%}
                 <tr>
                     <td>{{ item.order_id_alin }}</td>
                     <td>{{ item.order_time|date:"Y-m-d H:i:s" }}</td>
                     <td>{{ item.phone }}</td>
                     <td>{{ item.address }}</td>
                     <td>{{ item.platform }}</td>
                     {% if item.pay == True %}
                     <td>{{ item.real_price }}(已付)</td>
                     {% else %}
                     <td>{{ item.real_price }}</td>
                     {% endif %}
                     <td>
                         <div class="btn-group dropdown">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">查看<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu" role="menu" style="text-align: center;">
                                 {% for dish in item.dishs.all %}
                                     <li><p>{{ dish.dish_name }} X {{ dish.dish_count }}</p></li>
                                 {% endfor %}
                             </ul>
                         </div>
                     </td>
                     <td>
                         <a role="button" id="i{{ item.order_id_alin }}" class="btn btn-primary btn-sm">接收</a>
{#                         <iframe id="{{ item.order_id_alin }}" name="{{ item.order_id_alin }}" src="print_one{{ item.order_id_alin }}" frameborder='no' border='0' width="0" height="0"></iframe>#}
                         <a role="button" onclick="jujueone({{ item.order_id_alin }})" class="btn btn-primary btn-sm" style="background-color: #737373">拒绝</a>
                     </td>
                     <script>
                         $('#i{{ item.order_id_alin }}').click(
                                 function(){
                                     var LODOP=getLodop();
                                     if(localStorage['printer']){
                                         var num = parseInt(localStorage['printer']);
                                         LODOP.SET_PRINTER_INDEX(num);
                                     }
                                     LODOP.SET_PRINT_PAGESIZE(0,5800,2100,"A4");
{#                                     LODOP. ADD_PRINT_HTM (0,0, 300,100,"<hr><font size=5>hello </font>");#}
                                     LODOP.ADD_PRINT_HTM(0,0,'100%','70%',"<h1>{{ item.phone }}</h1>"
                                     +"<h3 style=\"text-align: center;\">{{ item.merchant.name }}</h3>"
                                     +"<p style=\"font-size: 13px;\">订单号：{{ item.order_id_alin }}<br/>"
                                     +" 时间: {{ item.order_time|date:"Y-m-d H:i:s" }}<br/>"
                                     +" 平台: {{ item.platform }}<br/>"
                                     +" 菜单:<p/>"
                                     +"--------------------------"
                                              {% for dish in item.dishs.all %}
                                     +" <p style=\"font-size: 10px;\">{{ dish.dish_name }} X {{ dish.dish_count }}  &nbsp;&nbsp; {{ dish.dish_price }}元/份</p>"
                                              {% endfor %}
                                     +"--------------------------"
                                     +"<p style=\"font-size: 13px;\">地址: {{ item.address }}<br/>"
                                     +" 优惠: {{ item.promotion }}<br/>"
                                     +" 电话: {{ item.phone }}<br/>"
                                             {% if item.pay == True %}
                                     +"付款:{{ item.real_price }}(已付)</p>"
                                             {% else %}
                                     +"付款:{{ item.real_price }}</p>"
                                             {% endif %}
                                     +"<img src=\"/img/20.png\" style=\"height: 100px;width: 100px;\">"
                                     +"<br/>"
                                     +"==================<br/>");
                                     LODOP.PREVIEW();
                                 }
                         )
                     </script>
                 </tr>
                 {% endfor %}
             </table>
            <script>
                         $('#all_print').click(
                                 function(){
                                     var LODOP=getLodop();
                                     if(localStorage['printer']){
                                         var num = parseInt(localStorage['printer']);
                                         LODOP.SET_PRINTER_INDEX(num);
                                     }
                                     LODOP.SET_PRINT_PAGESIZE(0,5800,2970,"A4");
{#                                     LODOP. ADD_PRINT_HTM (0,0, 300,100,"<hr><font size=5>hello </font>");#}

                                     LODOP.ADD_PRINT_HTM(0,0,'100%','70%', "{% for item in items %}{% for item in items %}<h1>{{ item.phone }}</h1>"
                                     +"<h3 style=\"text-align: center;\">{{ item.merchant.name }}</h3>"
                                     +"<p style=\"font-size: 13px;\">订单号：{{ item.order_id_alin }}<br/>"
                                     +" 时间: {{ item.order_time|date:"Y-m-d H:i:s" }}<br/>"
                                     +" 平台: {{ item.platform }}<br/>"
                                     +" 菜单:</p>"
                                     +"－－－－－－－－－"
                                              {% for dish in item.dishs.all %}
                                     +" <p style=\"font-size: 10px;\">{{ dish.dish_name }} X {{ dish.dish_count }}  &nbsp;&nbsp; {{ dish.dish_price }}元/份</p>"
                                              {% endfor %}
                                     +" －－－－－－－－－"
                                     +"<p style=\"font-size: 13px;\">地址: {{ item.address }}<br/>"
                                     +"优惠: {{ item.promotion }}<br/>"
                                     +" 电话: {{ item.phone }}<br/>"
                                             {% if item.pay == True %}
                                     +"付款:{{ item.real_price }}(已付)</p>"
                                             {% else %}
                                     +"付款:{{ item.real_price }}</p>"
                                             {% endif %}
                                     +"<img src=\"/img/20.png\" style=\"height: 100px;width: 100px;\">"
                                     +"<br/>"
                                     +"==================<br/>{% endfor %}{% endfor %}");
                                     LODOP.PREVIEW();
                                 }
                         )
                     </script>
          {% endif %}
        </div>
        <script>
            $(document).ready(function(){
                function fresh(){
                     window.location.href = 'operate_new';
                }
                var countdown = setInterval(fresh, 10000);
            })
        </script>
      </div>
    {% endblock define %}