{% extends 'other_base.html' %}
{% block define %}
<div class="panel panel-default" style="text-align: center;">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">打印机设置</p>
    </div>
    <div class="panel-body">
        <h3>接收时自动打印：</h3>
        {% if flag == 'T' %}
            <button id="auto_print_ok" class="btn btn-success auto-print-lg">
               <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button id="auto_print_no" class="btn btn-danger auto-print-sm">
               <span class="glyphicon glyphicon-remove"></span>
            </button>
        {% else %}
            <button id="auto_print_ok" class="btn btn-success auto-print-sm">
               <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button id="auto_print_no" class="btn btn-danger auto-print-lg">
               <span class="glyphicon glyphicon-remove"></span>
            </button>
        {% endif %}
        <script>
            $('#auto_print_ok').click(function(){
                $('#auto_print_ok').removeClass('auto-print-sm');
                $('#auto_print_ok').addClass('auto-print-lg');
                $('#auto_print_no').removeClass('auto-print-lg');
                $('#auto_print_no').addClass('auto-print-sm');
                var message = {'auto_print_status': 'T'};
                $.ajax({
                    type: 'GET',
                    url: 'printer_setting',
                    data: message,
                    dataType: 'json'
                });
            });
            $('#auto_print_no').click(function(){
                $('#auto_print_no').removeClass('auto-print-sm');
                $('#auto_print_no').addClass('auto-print-lg');
                $('#auto_print_ok').removeClass('auto-print-lg');
                $('#auto_print_ok').addClass('auto-print-sm');
                var message = {'auto_print_status': 'F'};
                $.ajax({
                    type: 'GET',
                    url: 'printer_setting',
                    data: message,
                    dataType: 'json'
                });
            })
        </script>
        <h3>目前的打印机：</h3>
        <p id="printer"></p>
    </div>
    <a role="button" class="btn btn-primary btn-lg" onclick="select_printer()" style="margin: 2%;">选择打印机</a>
    <h3>打印联数:
            <select onchange="change_print_pages()" id="print_pages">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
    </h3>
</div>
{% endblock define %}
{% block script %}
    <script>
            var LODOP = getLodop();
            function select_printer(){
                localStorage['printer'] = LODOP.SELECT_PRINTER();
                window.location.href='printer_setting';
            }
            $(document).ready(function(){
                 $('#printer_setting').addClass('nav-head-active');
                 if(localStorage['printer']){
                     var num = parseInt(localStorage['printer']);
                     var printer_name = LODOP.GET_PRINTER_NAME(num);
                 }
                else{
                     var printer_name = LODOP.GET_PRINTER_NAME(-1)
                 }
                 $("#printer").text(printer_name);
            });
            function change_print_pages(){
                    localStorage['print_pages'] = $('#print_pages').val();
                    window.location.href = 'printer_setting'
                }
                $(document).ready(function(){
                    if(localStorage.getItem('print_pages')){
                        $('#print_pages').val(localStorage['print_pages'])
                    }
                })
        </script>
{% endblock %}