{% extends 'base.html' %}
{% block define %}
<div class="panel panel-default">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">现有物流人员</p>
         </div>
    {% if not express_people %}
    <h3 style="text-align: center;">您还未绑定任何快递人员</h3>
    {% else %}
    <div class="panel-body">
             <table class="table table-bordered text-center">
                 <tr>
                     <th>姓名</th>
                     <th>联系方式</th>
                     <th></th>
                 </tr>
                 {% for person in express_people %}
                 <tr>
                     <td>{{  person.nick }}</td>
                     <td>{{  person.phone }}</td>
                     <td>
                         <a role="button" href="delete_sender{{ person.phone }}" class="btn btn-primary btn-sm">删除</a>
                     </td>
                 </tr>
                 {% endfor %}
             </table>
        {% endif %}
        <a role="button" href="add_sender_page" class="btn btn-primary btn-lg" style="margin-left: 90%;margin-bottom: 1%;">添加</a>
        </div>
</div>
{% endblock define %}
{% block script %}
    <script>
        $('#express_manage').addClass('nav-head-active')
    </script>
{% endblock %}