{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block define %}
    {% for person in express_people %}
    <div class="panel panel-default">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">派送员：{{ person.nick }}(电话：{{ person.phone }})</p>
         </div>
    <div class="panel-body">
             <table class="table table-bordered text-center">
                 <tr>
                     <th>订单号</th>
                     <th>下单时间</th>
                     <th>联系方式</th>
                     <th>地址</th>
                     <th>订餐平台</th>
                     <th>付款</th>
                     <th>订单详情</th>

                 </tr>
                 {% for item in orders %}
                     {% if item.bind_sender == person %}
                 <tr>
                     <td>{{ item.order_id_alin }}</td>
                     <td>{{ item.order_time|date:"Y-m-d H:i:s" }}</td>
                     <td>{{ item.phone }}</td>
                     <td>{{ item.address }}</td>
                     <td>{{ item.platform }}</td>
                     {% if item.pay == True %}
                     <td>{{ item.real_price }}(已付)</td>
                     {% else %}
                     <td>{{ item.real_price }}</td>
                     {% endif %}
                     <td>
                         <div class="btn-group">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">查看<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu" role="menu" style="text-align: center;">
                                 {% for dish in item.dishs.all %}
                                     <li><p>{{ dish.dish_name }} X {{ dish.dish_count }}</p></li>
                                 {% endfor %}
                             </ul>
                         </div>
                     </td>
                 </tr>
                     {% endif %}
                 {% endfor %}
             </table>
        </div>
    {% endfor %}
    </div>
{% endblock define %}

</body>
</html>