{% extends 'base.html' %}
    {% block define %}
    <div class="panel panel-default text-center">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">未处理订单</p>
         </div>
    <div class="panel-body">
       {% if not items  %}
        <h3 style="text-align: center;">您未收到任何订单</h3>
       {% else %}
             <table class="table table-bordered text-center">
                 <tr>
                     <th>订单号</th>
                     <th>下单时间</th>
                     <th>联系方式</th>
                     <th>地址</th>
                     <th style="min-width: 80px;">订餐平台</th>
                     <th>付款</th>
                     <th>菜单</th>
                     <th style="min-width: 170px;">
                         <a onclick="jieshouall()" id="all_get" role="button" class="btn btn-primary btn-sm">一键接收</a>
{#                         <iframe id="all" name="all" src="print_all" frameborder='no' border='0' width="0" height="0"></iframe>#}
                         <a onclick="jujueall()" role="button" class="btn btn-primary btn-sm" style="background-color: #737373">一键拒绝</a>
                     </th>
                 </tr>
                 {%for item in items%}
                 <tr>
                     <td>{{ item.order_id_alin }}</td>
                     <td>{{ item.order_time|date:"Y-m-d H:i:s" }}</td>
                     <td>{{ item.phone }}</td>
                     <td>
                         {{ item.address }}
                     </td>
                     <td>{{ item.platform }}</td>
                     {% if item.pay == True %}
                     <td>{{ item.real_price }}(已付)</td>
                     {% else %}
                     <td>{{ item.real_price }}</td>
                     {% endif %}
                     <td>
                         <div class="btn-group dropdown">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">查看<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu" role="menu" style="text-align: center;">
                                 {% for dish in item.dishs.all %}
                                     <li><p>{{ dish.dish_name }} X {{ dish.dish_count }}</p></li>
                                 {% endfor %}
                                 <li><img src="/qrimg/{{ item.qr_path }}" alt="qrcode missing" style="width: 100px;height: 100px;"/></li>
                             </ul>
                         </div>
                     </td>
                     <td>
                         <a role="button" id="i{{ item.order_id_alin }}" onclick="jieshouone('{{ item.order_id_alin }}')" class="btn btn-primary btn-sm">接收</a>
{#                         <iframe id="{{ item.order_id_alin }}" name="{{ item.order_id_alin }}" src="print_one{{ item.order_id_alin }}" frameborder='no' border='0' width="0" height="0"></iframe>#}
                         <a role="button" onclick="jujueone('{{ item.order_id_alin }}')" class="btn btn-primary btn-sm" style="background-color: #737373">拒绝</a>
                     </td>
                     <script>
                         if(sessionStorage['{{ item.order_id_alin }}']){
                             $('#n{{ item.order_id_alin }}').text(sessionStorage['{{ item.order_id_alin }}'])
                         }
                         $('#i{{ item.order_id_alin }}').click(
                                 function(){
                                     var LODOP=getLodop();
                                     if(localStorage['printer']){
                                         var num = parseInt(localStorage['printer']);
                                         LODOP.SET_PRINTER_INDEX(num);
                                     }
                                     var print_status = LODOP.PRINT_INIT("");
                                     if(!print_status){
                                         alert("打印机异常!");
                                         return false
                                     }
                                     LODOP.SET_PRINT_PAGESIZE(3,5800,"1mm","CreateCustomPage");
{#                                     LODOP. ADD_PRINT_HTM (0,0, 300,100,"<hr><font size=5>hello </font>");#}
                                     LODOP.NEWPAGEA();
                                     LODOP.ADD_PRINT_HTM(0,0,'100%','70%',"<h1>{{ item.phone }}</h1>"
                                     +"<h3 style=\"text-align: center;\">{{ item.merchant.name }}</h3>"
                                     +"<p style=\"font-size: 17px;\">订单号：{{ item.order_id_alin }}<br/>"
                                     +" 时间: {{ item.order_time|date:"Y-m-d H:i:s" }}<br/>"
                                     +" 平台: {{ item.platform }}<br/>"
                                     +" 菜单:<p/>"
                                     +"--------------------------"
                                              {% for dish in item.dishs.all %}
                                     +" <p style=\"font-size: 14px;\">{{ dish.dish_name }} X {{ dish.dish_count }}  &nbsp;&nbsp; {{ dish.dish_price }}元/份</p>"
                                              {% endfor %}
                                     +"--------------------------"
                                     +"<p style=\"font-size: 17px;\">地址: {{ item.address }}<br/>"
                                     +" 优惠: {{ item.promotion }}<br/>"
                                     +" 电话: {{ item.phone }}<br/>"
                                             {% if item.pay == True %}
                                     +"付款:{{ item.real_price }}(已付)</p>"
                                             {% else %}
                                     +"付款:{{ item.real_price }}</p>"
                                             {% endif %}
                                     +"<img src=\"/qrimg/{{ item.qr_path }}\" style=\"height: 130px;width: 130px;\">"
                                     +"<br/>"
                                     +"==================<br/>");
                                     var print_req = LODOP.PRINT();
                                     if(print_req){
                                         if(sessionStorage['{{ item.order_id_alin }}']){
                                             sessionStorage['{{ item.order_id_alin }}'] = parseInt(sessionStorage['{{ item.order_id_alin }}']) + 1
                                         }
                                         else{
                                             sessionStorage['{{ item.order_id_alin }}'] = 1;
                                         }
                                     }
                                     else{
                                        alert('订单{{ item.order_id_alin }}打印失败!')
                                     }
                                 }
                         )
                     </script>
                 </tr>
                 {% endfor %}
             </table>
       <nav style="width: 100%;height: 100%;">
       <ul class="pagination">
             {% if items.has_previous %}
        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
             {% endif %}
             {% for page in items.paginator.page_range %}
               {% if page = items.number %}
        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
               {% else %}
        <li><a href="?page={{ page }}">{{ page }}</a></li>
               {% endif %}
            {% endfor %}
            {% if items.has_next %}
        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
            {% endif %}
       </ul>
     </nav>
           {% if merchant.auto_print %}
            <script>
                         $('#all_get').click(
                                 function(){
                                     var LODOP=getLodop();
                                     if(localStorage['printer']){
                                         var num = parseInt(localStorage['printer']);
                                         LODOP.SET_PRINTER_INDEX(num);
                                     }
{#                                     LODOP. ADD_PRINT_HTM (0,0, 300,100,"<hr><font size=5>hello </font>");#}
                                     var print_status = LODOP.PRINT_INIT("{{ item.order_id_alin }}");
                                     if(!print_status){
                                         alert("打印机异常!");
                                         return false
                                     }
                                     LODOP.SET_PRINT_PAGESIZE(3,5800,"1mm","CreateCustomPage");
                                     {% for item in items %}
                                     LODOP.NEWPAGEA();
                                     LODOP.ADD_PRINT_HTM(1,1,'100%','70%', "<h1>{{ item.phone }}</h1>"
                                     +"<h3 style=\"text-align: center;\">{{ item.merchant.name }}</h3>"
                                     +"<p style=\"font-size: 15px;\">订单号：{{ item.order_id_alin }}<br/>"
                                     +" 时间: {{ item.order_time|date:"Y-m-d H:i:s" }}<br/>"
                                     +" 平台: {{ item.platform }}<br/>"
                                     +" 菜单:</p>"
                                     +"－－－－－－－－－"
                                              {% for dish in item.dishs.all %}
                                     +" <p style=\"font-size: 14px;\">{{ dish.dish_name }} X {{ dish.dish_count }}  &nbsp;&nbsp; {{ dish.dish_price }}元/份</p>"
                                              {% endfor %}
                                     +" －－－－－－－－－"
                                     +"<p style=\"font-size: 15px;\">地址: {{ item.address }}<br/>"
                                     +"优惠: {{ item.promotion }}<br/>"
                                     +" 电话: {{ item.phone }}<br/>"
                                             {% if item.pay == True %}
                                     +"付款:{{ item.real_price }}(已付)</p>"
                                             {% else %}
                                     +"付款:{{ item.real_price }}</p>"
                                             {% endif %}
                                     +"<img src=\"/qrimg/{{ item.qr_path }}\" style=\"height: 130px;width: 130px;\">"
                                     +"<br/>"
                                     +"==================<br/>");
                                     {% endfor %}
                                     var print_req = LODOP.PRINT();
                                     if(print_req){
                                         {% for item in items %}
                                         if(sessionStorage['{{ item.order_id_alin }}']){
                                             sessionStorage['{{ item.order_id_alin }}'] = parseInt(sessionStorage['{{ item.order_id_alin }}']) + 1
                                         }
                                         else{
                                             sessionStorage['{{ item.order_id_alin }}'] = 1;
                                         }
                                         {% endfor %}
                                     }
                                     else{
                                        alert('打印失败!')
                                     }
                         }
                         )
                     </script>
               {% endif %}
          {% endif %}
        </div>
      </div>
        <script>
            $(document).ready(function(){
                function fresh(){
                    $.ajax({
                        type: 'GET',
                        url: 'get_new_orders',
                        data: '',
                        success: function(data){
                            if(data == 'T'){
                                clearInterval(countdown);
                                window.location.href = 'operate_new'
                            }
                        },
                        dataType: 'json'
                    });
                }
                var countdown = setInterval(fresh, 8000);
            })
        </script>
    {% endblock define %}