{% extends 'order_base.html' %}
{% block order_panel %}
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" id="search_order"><a href="operate_history?search_type=1">订单查询</a></li>
        <li role="presentation" id="search_sender"><a href="operate_history?search_type=2">派送员查询</a></li>
    </ul>
    <form method="get" action="operate_history" id="search_mes">
        {% if search_sender %}
        <input name="search_type" value="2" style="display: none"/>
        {% endif %}
    <div class="col-md-12 col-lg-12" style="margin-top: 30px; margin-bottom: 30px;">
      <div class="form-group col-lg-5 col-md-5">
            <label for="dtp_input1" class="col-md-3 col-lg-3 control-label" style="padding-top: 6px;">起始时间</label>
            <div class="input-group date form_datetime col-md-8 col-lg-8" data-date="" data-link-field="start_time">
                <input class="form-control" size="16" type="text" value="{{ start_date }}" readonly="">
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
			<input type="hidden" id="start_time" name="start_date" value="{{ start_date }}"><br>
        </div>
        <div class="form-group col-lg-5 col-md-5">
            <label for="dtp_input1" class="col-md-3 col-lg-3 control-label" style="padding-top: 6px;">结束时间</label>
            <div class="input-group date form_datetime col-md-8 col-lg-8" data-date="" data-link-field="end_time">
                <input class="form-control" size="16" type="text" value="{{ end_date }}" readonly="">
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
			<input type="hidden" id="end_time" name="end_date" value="{{ end_date }}"><br>
        </div>
    </div>
    <div class="col-md-2 col-lg-2" style="float: right;margin-right: 7%;margin-top: -100px;">
          <button id="search" class="btn btn-success">查询</button>
      </div>
    </form>
     <span>{{ summary }}</span>
<div class="panel panel-default text-center" style="border-top: 0;min-height: 500px;">
    <div class="panel-body">
        {% if search_sender %}
             <table class="table table-bordered text-center">
                 <tr>
                     <th>姓名</th>
                     <th>联系方式</th>
                     <th>到付单数</th>
                     <th>到付金额</th>
                     <th>已付单数</th>
                     <th>已付金额</th>
                     <th>已送单数</th>
                 </tr>
                 {%for item in senders%}
                 <tr>
                     <td>{{ item.nick }}</td>
                     <td>{{ item.phone }}</td>
                     <td>{{ item.offline_num }}</td>
                     <td>{{ item.offline_money }}</td>
                     <td>{{ item.online_num }}</td>
                     <td>{{ item.online_money }}</td>
                     <td>{{ item.today_sends }}</td>
                 </tr>
                 {% endfor %}
             </table>
        {% endif %}
        {% if search_order %}
         <table class="table table-bordered text-center">
                 <tr>
                     <th>订单号</th>
                     <th>下单时间</th>
                     <th>联系方式</th>
                     <th>地址</th>
                     <th>订餐平台</th>
                     <th>付款</th>
                     <th>派送员</th>
                     <th>菜单</th>
                 </tr>
                 {%for item in orders%}
                 <tr>
                     <td>{{ item.order_id_alin }}</td>
                     <td>{{ item.order_time|date:"Y-m-d H:i:s" }}</td>
                     <td>{{ item.phone }}</td>
                     <td>{{ item.address }}</td>
                     <td>{{ item.platform }}</td>
                     <td>{{ item.real_price }}</td>
                     <td>{{ item.finished_by }}</td>
                     <td>
                         <div class="btn-group dropdown">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">查看<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu" role="menu" style="text-align: center;">
                                 {% for dish in item.tdishs.all %}
                                     <li><p>{{ dish.dish_name }} X {{ dish.dish_count }}</p></li>
                                 {% endfor %}
                             </ul>
                         </div>
                     </td>
                 </tr>
                 {% endfor %}
             </table>
        {% endif %}
    {% if not orders and orders.num_page == 1 %}
        <h4>nothing</h4>
    {% endif %}

    {% if orders.paginator.num_pages > 1 %}
        <nav>
       <ul class="pagination">
             {% if orders.has_previous %}
        <li><a href="{{ pagepara }}&page={{ orders.previous_page_number }}">&laquo;</a></li>
             {% endif %}
             {% for page in orders.paginator.page_range %}
               {% if page == orders.number %}
        <li class="active"><a href="{{ pagepara }}&page={{ page }}">{{ page }}</a></li>
               {% else %}
        <li><a href="{{ pagepara }}&page={{ page }}">{{ page }}</a></li>
               {% endif %}
            {% endfor %}
            {% if items.has_next %}
        <li><a href="{{ pagepara }}&page={{ orders.next_page_number }}">&raquo;</a></li>
            {% endif %}
       </ul>
     </nav>
    {% endif %}
        </div>
</div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <style>
        @import url(/css/bootstrap-datetimepicker.min.css);
    </style>
    <script>
        $(document).ready(function(){
            {% if search_sender %}
                $('#search_sender').addClass('active').find('a').attr('href', '#');
            {% else %}
                $('#search_order').addClass('active').find('a').attr('href', '#');
            {% endif %}
            $('.form_datetime').datetimepicker({
        language:  'zh-CN',
{#        weekStart: 1,#}
        todayBtn:  1,
		autoclose: 1,
{#		todayHighlight: 1,#}
{#		startView: 2,#}
{#		forceParse: 0,#}
{#        showMeridian: 0,#}
        format: 'yyyy-mm-dd hh:ii',
        pickerPosition: 'bottom-left'
    });
        });
    </script>
{% endblock %}