{% extends 'base.html' %}
{% block define %}
<div class="panel panel-default">
    <div class="panel-heading" style="text-align: center;">
             <p class="text-center" style="font-size:21px;">添加快递人员</p>
    </div>
    {% if fault %}
    <div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center;margin-top:-20px;line-height: 0.1;">
       <button type="button" class="close" data-dismiss="alert" style="margin-top: -7px;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       <strong>错误!</strong>该平台已绑定账号
    </div>

    {% endif %}
 <div style="text-align: center;">
    <h3>扫描下方二维码添加快递人员</h3>
    <img src="/img/20.png" style="padding-top: 25px;padding-bottom: 25px;">
    <br/>
    <a role="button" class="btn btn-primary btn-lg" href="operate_express_person" style="margin-bottom: 20px">返回</a>
 </div>
<div id="person_list">
{% if express_people %}
 <div class="list-group container text-center" style="width: 20%;margin-left: 5%;margin-top: -40%;margin-bottom: 33%;">
        <a class="list-group-item active" style="background-color: #31708f">
           已绑定的快递人员
        </a>
     {% for person in express_people %}
        <a class="list-group-item active" style="background-color: #269abc">{{ person.nick }}</a>
     {% endfor %}
  </div>
{% endif %}
</div>
</div>
    <script>
    $(document).ready(function(){
        var countdown;
        function fresh(){
            window.location.href = 'add_sender_page'
        }
        countdown = setInterval(fresh, 10000);
    })
    </script>
{% endblock %}