{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block define %}
       <span>{{ summary }}</span>
<div class="panel panel-default text-center">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">物流人员明细</p>
         </div>
    <div class="panel-body">
    {% if not senders %}
    <h3 style="text-align: center;">目前还没有绑定物流人员</h3>
    {% else %}
             <table class="table table-bordered text-center">
                 <tr>
                     <th>姓名</th>
                     <th>联系方式</th>
                     <th>状态</th>
                     <th>到付单数</th>
                     <th>到付金额</th>
                     <th>已付单数</th>
                     <th>已付金额</th>
                     <th>已送单数</th>
                 </tr>
                 {%for item in senders%}
                 <tr>
                     <td>{{ item.nick }}</td>
                     <td>{{ item.phone }}</td>
                     <td>{{ item.status }}</td>
                     <td>{{ item.offline_num }}</td>
                     <td>{{ item.offline_money }}</td>
                     <td>{{ item.online_num }}</td>
                     <td>{{ item.online_money }}</td>
                     <td>{{ item.today_sends }}</td>
                 </tr>
                 {% endfor %}
             </table>
        <nav>
       <ul class="pagination">
             {% if items.has_previous %}
        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
             {% endif %}
             {% for page in items.paginator.page_range %}
               {% if page = items.number %}
        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
               {% else %}
        <li><a href="?page={{ page }}">{{ page }}</a></li>
               {% endif %}
            {% endfor %}
            {% if items.has_next %}
        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
            {% endif %}
       </ul>
     </nav>
        {% endif %}
        </div>
</div>
{% endblock define %}
</body>
</html>