{% extends 'base.html' %}
    {% block define %}
    <div class="panel panel-default text-center">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">未处理订单</p>
         </div>
    <div class="panel-body">
            <button type="button" class=" btn btn-primary btn-lg" data-toggle="modal" style="margin-left: 80%;margin-bottom: 2%" data-target="#myModal">
    添加订单
    </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">添加订单</h4>
      </div>
      <div class="modal-body">
        <div class="input-group" style="margin-top:40px;margin-left:25%;width: 50%;">
            <span class="input-group-addon" style=" font-size:17px;width: 30%;">手机号</span>
            <input type="text" class="form-control" id='phone' name="phone">
        </div>
        <div class="input-group" style="margin-left:25%;width: 50%;">
            <span class="input-group-addon" style=" font-size:17px;width: 30%;">金额</span>
            <input type="text" class="form-control" placeholder="输入最多带一位小数的数字" onkeyup="value=value.replace(/[^\d{1,}\.\d|\d{1,}]/g,'')" id='money' name="money">
        </div>
        <div class="input-group" style="margin-left:25%;width: 50%;">
            <span class="input-group-addon" style=" font-size:17px;width: 30%;">付款</span>
            <div>
                <div class="radio" style="float: left; margin-left: 10px;">
                <label>
                <input type="radio" name="optionsRadios" id="oRadio1" value="1" checked>
                已付款
                </label>
            </div>
            <div class="radio" style="float: right; margin-top: 10px;">
                <label>
                <input type="radio" name="optionsRadios" id="oRadio2" value="0">
                未付款
                </label>
            </div>
            </div>
        </div>

        <div class="input-group" style="margin-left:25%;width: 50%;margin-bottom: 0">
            <span class="input-group-addon" style="font-size:17px;width: 30%%;">地址</span>
            <input type="text" class="form-control" id='address' name="address">
        </div>
        <div class="input-group" style="margin-left:25%;width: 50%;margin-bottom: 0">
            <span class="input-group-addon" style="font-size:17px;width: 30%%;">平台</span>
            <select class="form-control" name="platform" id="platform">
                    <option value="3">美团</option>
                        <option value="1" >淘点点</option>
                        <option value="2">饿了么</option>
                        <option value="4">其他</option>
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="submit">提交</button>
      </div>
        <script>
            $('#submit').click(function(){
                if($('#phone').val().length==11 && $('#money').val() && $('#address').val()
                        && $('#platform').val()){
                    var phone = $('#phone').val();
                    var money = $('#money').val();
                    var address = $('#address').val();
                    var platform = $('#platform').val();
                    var ifcharge = document.getElementsByName("optionsRadios");
                    var purchase = 0;
                    radio = ifcharge[0];
                    if (radio.checked === true && radio.value === "1" ){
                        purchase = 1;
                    }
                    $.ajax({
                        type: 'GET',
                        url: 'add_order',
                        data: {'phone':phone,
                               'money':money,
                               'ifcharge':purchase,
                               'address':address,
                               'platform':platform},
                        success: function(data){
                            if(data == 'T') {
                                window.location.href = 'operate_get'
                            }else {
                                alert('添加订单失败!')
                            }
                        },
                        dataType: 'json'
                    });}
            })
        </script>

    </div>
  </div>
</div>
       {% if not items  %}
        <h3 style="text-align: center;">您未收到任何订单</h3>
       {% else %}
             <table class="table table-bordered text-center">
                 <tr>
                     <th>订单号</th>
                     <th>送达时间</th>
                     <th>联系方式</th>
                     <th>地址</th>
                     <th style="min-width: 80px;">订餐平台</th>
                     <th>平台流水号</th>
                     <th>付款</th>
                     <th>菜单</th>
                     <th style="min-width: 170px;">
                         <a onclick="jieshouall()" id="all_get" role="button" class="btn btn-primary btn-sm">一键接收</a>
{#                         <iframe id="all" name="all" src="print_all" frameborder='no' border='0' width="0" height="0"></iframe>#}
                         <a onclick="jujueall()" role="button" class="btn btn-primary btn-sm" style="background-color: #737373">一键拒绝</a>
                     </th>
                 </tr>
                 {%for item in items%}
                 <tr>
                     <td>{{ item.order_id_alin }}</td>
                     <td>{{ item.send_time|date:"Y-m-d H:i:s" }}</td>
                     <td>{{ item.phone }}</td>
                     <td>
                         {{ item.address }}
                     </td>
                     <td>{{ item.platform }}</td>
                     <td>{{ item.plat_num }}</td>
                     {% if item.pay == True %}
                     <td>{{ item.real_price }}元(已付)</td>
                     {% else %}
                     <td>{{ item.real_price }}元(未付)</td>
                     {% endif %}
                     <td>
                         <div class="btn-group dropdown">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">查看<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu" role="menu" style="text-align: center;">
                                 {% for dish in item.dishs.all %}
                                     <li><p>{{ dish.dish_name }} X {{ dish.dish_count }}</p></li>
                                 {% endfor %}
                                 <li><img src="/qrimg/{{ item.qr_path }}" alt="qrcode missing" style="width: 100px;height: 100px;"/></li>
                             </ul>
                         </div>
                     </td>
                     <td>
                         <a role="button" id="i{{ item.order_id_alin }}" onclick="jieshouone('{{ item.order_id_alin }}')" class="btn btn-primary btn-sm">接收</a>
{#                         <iframe id="{{ item.order_id_alin }}" name="{{ item.order_id_alin }}" src="print_one{{ item.order_id_alin }}" frameborder='no' border='0' width="0" height="0"></iframe>#}
                         <a role="button" onclick="jujueone('{{ item.order_id_alin }}')" class="btn btn-primary btn-sm" style="background-color: #737373">拒绝</a>
                     </td>
                     <script>
                         if(sessionStorage['{{ item.order_id_alin }}']){
                             $('#n{{ item.order_id_alin }}').text(sessionStorage['{{ item.order_id_alin }}'])
                         }
                         $('#i{{ item.order_id_alin }}').click(
                                 function(){
                                     var LODOP=getLodop();
                                     if(localStorage['printer']){
                                         var num = parseInt(localStorage['printer']);
                                         LODOP.SET_PRINTER_INDEX(num);
                                     }
                                     var print_status = LODOP.PRINT_INIT("");
                                     if(!print_status){
                                         alert("打印机异常!");
                                         return false
                                     }
                                     LODOP.SET_PRINT_PAGESIZE(3,5800,"1mm","CreateCustomPage");
{#                                     LODOP. ADD_PRINT_HTM (0,0, 300,100,"<hr><font size=5>hello </font>");#}
                                     LODOP.NEWPAGEA();
                                     LODOP.ADD_PRINT_HTM(0,0,'100%','70%',"<h1>{{ item.phone }}</h1>"
                                     +"<h3 style=\"text-align: center;\">{{ item.merchant.name }}</h3>"
                                     +"<p style=\"font-size: 17px;\">订单号：{{ item.order_id_alin }}<br/>"
                                     +" 送达时间: </br>"
                                     +"{{ item.send_time|date:"Y-m-d H:i:s" }}<br/>"
                                     +" 平台: {{ item.platform }}({{ item.plat_num }})<br/>"
                                     +" 菜单:<p/>"
                                     +"--------------------------"
                                              {% for dish in item.dishs.all %}
                                     +" <p style=\"font-size: 14px;\">{{ dish.dish_name }} X {{ dish.dish_count }}  &nbsp;&nbsp; {{ dish.dish_price }}元/份</p>"
                                              {% endfor %}
                                     +"--------------------------"
                                     +"<p style=\"font-size: 17px;\">地址: {{ item.address }}<br/>"
                                     +" 优惠: {{ item.promotion }}<br/>"
                                     +" 电话: {{ item.phone }}<br/>"
                                             {% if item.pay == True %}
                                     +"付款:{{ item.real_price }}(已付)</p>"
                                             {% else %}
                                     +"付款:{{ item.real_price }}</p>"
                                             {% endif %}
                                     +"<img src=\"/qrimg/{{ item.qr_path }}\" style=\"height: 130px;width: 130px;\">"
                                     +"<br/>"
                                     +"==================<br/>");
                                     if(localStorage.getItem('print_pages')){
                                         var pages = parseInt(localStorage['print_pages']);
                                         LODOP.SET_PRINT_COPIES(pages)
                                     }
                                     var print_req = LODOP.PRINT();
                                     if(print_req){
                                         if(sessionStorage['{{ item.order_id_alin }}']){
                                             sessionStorage['{{ item.order_id_alin }}'] = parseInt(sessionStorage['{{ item.order_id_alin }}']) + 1
                                         }
                                         else{
                                             sessionStorage['{{ item.order_id_alin }}'] = 1;
                                         }
                                     }
                                     else{
                                        alert('订单{{ item.order_id_alin }}打印失败!')
                                     }
                                 }
                         )
                     </script>
                 </tr>
                 {% endfor %}
             </table>
       <nav style="width: 100%;height: 100%;">
       <ul class="pagination">
             {% if items.has_previous %}
        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
             {% endif %}
             {% for page in items.paginator.page_range %}
               {% if page = items.number %}
        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
               {% else %}
        <li><a href="?page={{ page }}">{{ page }}</a></li>
               {% endif %}
            {% endfor %}
            {% if items.has_next %}
        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
            {% endif %}
       </ul>
     </nav>
           {% if merchant.auto_print %}
            <script>
                         $('#all_get').click(
                                 function(){
                                     var LODOP=getLodop();
                                     if(localStorage['printer']){
                                         var num = parseInt(localStorage['printer']);
                                         LODOP.SET_PRINTER_INDEX(num);
                                     }
{#                                     LODOP. ADD_PRINT_HTM (0,0, 300,100,"<hr><font size=5>hello </font>");#}
                                     var print_status = LODOP.PRINT_INIT("{{ item.order_id_alin }}");
                                     if(!print_status){
                                         alert("打印机异常!");
                                         return false
                                     }
                                     LODOP.SET_PRINT_PAGESIZE(3,5800,"1mm","CreateCustomPage");
                                     {% for item in items %}
                                     LODOP.NEWPAGEA();
                                     LODOP.ADD_PRINT_HTM(1,1,'100%','70%', "<h1>{{ item.phone }}</h1>"
                                     +"<h3 style=\"text-align: center;\">{{ item.merchant.name }}</h3>"
                                     +"<p style=\"font-size: 15px;\">订单号：{{ item.order_id_alin }}<br/>"
                                     +" 送达时间:"
                                     +" {{ item.send_time|date:"Y-m-d H:i:s" }}<br/>"
                                     +" 平台: {{ item.platform }}({{ item.plat_num }})<br/>"
                                     +" 菜单:</p>"
                                     +"－－－－－－－－－"
                                              {% for dish in item.dishs.all %}
                                     +" <p style=\"font-size: 14px;\">{{ dish.dish_name }} X {{ dish.dish_count }}  &nbsp;&nbsp; {{ dish.dish_price }}元/份</p>"
                                              {% endfor %}
                                     +" －－－－－－－－－"
                                     +"<p style=\"font-size: 15px;\">地址: {{ item.address }}<br/>"
                                     +"优惠: {{ item.promotion }}<br/>"
                                     +" 电话: {{ item.phone }}<br/>"
                                             {% if item.pay == True %}
                                     +"付款:{{ item.real_price }}(已付)</p>"
                                             {% else %}
                                     +"付款:{{ item.real_price }}(未付)</p>"
                                             {% endif %}
                                     +"<img src=\"/qrimg/{{ item.qr_path }}\" style=\"height: 130px;width: 130px;\">"
                                     +"<br/>"
                                     +"==================<br/>");
                                     {% endfor %}
                                     if(localStorage.getItem('print_pages')){
                                         var pages = parseInt(localStorage['print_pages']);
                                         SET_PRINT_COPIES(pages)
                                     }
                                     var print_req = LODOP.PRINT();
                                     if(print_req){
                                         {% for item in items %}
                                         if(sessionStorage['{{ item.order_id_alin }}']){
                                             sessionStorage['{{ item.order_id_alin }}'] = parseInt(sessionStorage['{{ item.order_id_alin }}']) + 1
                                         }
                                         else{
                                             sessionStorage['{{ item.order_id_alin }}'] = 1;
                                         }
                                         {% endfor %}
                                     }
                                     else{
                                        alert('打印失败!')
                                     }
                         }
                         )
                     </script>
               {% endif %}
          {% endif %}
        </div>
      </div>
        <script>
            $(document).ready(function(){
                function fresh(){
                    $.ajax({
                        type: 'GET',
                        url: 'get_new_orders',
                        data: '',
                        success: function(data){
                            if(data == 'T'){
                                clearInterval(countdown);
                                window.location.href = 'operate_new'
                            }
                        },
                        dataType: 'json'
                    });
                }
                var countdown = setInterval(fresh, 8000);
            })
        </script>
    {% endblock define %}