{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block define %}
    <div class="panel panel-default">
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">派送员：大屁股</p>
         </div>
    <div class="panel-body">
             <table class="table table-bordered text-center">
                 <tr>
                     <th>订单号</th>
                     <th>下单时间</th>
                     <th>联系方式</th>
                     <th>地址</th>
                     <th>订餐平台</th>
                     <th>付款</th>
                     <th>订单详情</th>

                 </tr>
                 <tr>
                     <td>1124214124</td>
                     <td>11:30</td>
                     <td>12392372727</td>
                     <td>本科18栋616</td>
                     <td>淘点点</td>
                     <td>15元(已付)</td>
                     <td><a role="button" class="btn btn-primary btn-sm">查看</a></td>

                 </tr>
                 <tr>
                     <td>1124214124</td>
                     <td>11:30</td>
                     <td>12392372727</td>
                     <td>本科18栋616</td>
                     <td>淘点点</td>
                     <td>15元(已付)</td>
                     <td><a role="button" class="btn btn-primary btn-sm">查看</a></td>

                 </tr>
                 <tr>
                     <td>1124214124</td>
                     <td>11:30</td>
                     <td>12392372727</td>
                     <td>本科18栋616</td>
                     <td>淘点点</td>
                     <td>15元(已付)</td>
                     <td><a role="button" class="btn btn-primary btn-sm">查看</a></td>

                 </tr>
             </table>
        </div>
    <div class="panel-heading">
             <p class="text-center" style="font-size:21px;">派送员：小屁股</p>
         </div>
    <div class="panel-body">
             <table class="table table-bordered text-center">
                 <tr>
                     <th>订单号</th>
                     <th>下单时间</th>
                     <th>联系方式</th>
                     <th>地址</th>
                     <th>订餐平台</th>
                     <th>付款</th>
                     <th>订单详情</th>

                 </tr>
                 <tr>
                     <td>1124214124</td>
                     <td>11:30</td>
                     <td>12392372727</td>
                     <td>本科18栋616</td>
                     <td>淘点点</td>
                     <td>15元(已付)</td>
                     <td><a role="button" class="btn btn-primary btn-sm">查看</a></td>

                 </tr>
                 <tr>
                     <td>1124214124</td>
                     <td>11:30</td>
                     <td>12392372727</td>
                     <td>本科18栋616</td>
                     <td>淘点点</td>
                     <td>15元(已付)</td>
                     <td><a role="button" class="btn btn-primary btn-sm">查看</a></td>

                 </tr>
                 <tr>
                     <td>1124214124</td>
                     <td>11:30</td>
                     <td>12392372727</td>
                     <td>本科18栋616</td>
                     <td>淘点点</td>
                     <td>15元(已付)</td>
                     <td><a role="button" class="btn btn-primary btn-sm">查看</a></td>

                 </tr>
             </table>
        </div>
      </div>
{% endblock define %}

</body>
</html>