<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script language="javascript" src="/js/LodopFuncs.js"></script>
</head>
<body style="min-height: 100px;width:360 ;height: 220;>
<object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
          <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
</object>
    <h1>{{ item.phone }}</h1>
    <h3 style="text-align: center;">{{ item.merchant.name }}</h3>
    <p style="font-size: 13px;">订单号：{{ item.order_id_alin }}<br/>
    时间: {{ item.order_time|date:"Y-m-d H:i:s" }}<br/>
    平台: {{ item.platform }}<br/>
    菜单:
    </p>
    －－－－－－－－－<br/>
    {% for dish in item.dishs.all %}
        <p style="font-size: 10px;">{{ dish.dish_name }} X {{ dish.dish_count }}  &nbsp;&nbsp; {{ dish.dish_price }}元/份</p>
    {% endfor %}
    －－－－－－－－－<br/>
    <p style="font-size: 13px;">地址: {{ item.address }}<br/>
    电话: {{ item.phone }}<br/>
    {% if item.pay == True %}
        付款:{{ item.real_price }}(已付)<br/>
    {% else %}
        付款:{{ item.real_price }}<br/>
    {% endif %}
    </p>
    <img src="/img/20.png" style="height: 80%;width: 80%;">
    <br/>
    ==================<br/>
</body>
</html>