<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/order_operate.js"></script>
</head>
<body style="text-align: center;font-family: mine">
<nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="padding-left: 46%">
                <a class="navbar-brand"  style="font-size: 34px;">Alinone</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login_in">登录</a></li>
                    <li class="active"><a href="register">注册</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<div class="container" style="width: 700px;text-align: center;margin-top: 10%; ">
    <div class="jumbotron">
        <h2>输入验证码</h2>
        <div class="input-group" style="margin-left:120px;width: 85%;">
            <span class="input-group-addon" style="font-size:17px;width: 17.7%;">验证码</span>
            <input type="text" class="form-control" name="merchant_name" style="width: 128%;">
            <span class="input-group-btn" style="margin-left: 20px;width: 50%">
                <input id="yanzheng" class="btn btn-default" type="button" value="获取验证码" onclick="yanzheng_limit()">
            </span>
        </div>
        <input role="button" class="btn btn-primary" type="submit" value="确定" style="font-size: 18px; margin-top: 30px;margin-bottom: -5px;">
        <a role="button" href="login_in" class="btn btn-primary" style="font-size: 18px; margin-top: 30px;margin-bottom: -5px; margin-left: 5%;">返回</a>
        </form>
    </div>
</div>
</body>
</html>